page-login {
    .content{
        background-color: #393939;
    }
    .item{
        background-color: transparent !important;
        color: #DCDBDB;
        border-bottom: 1px solid #B68549 !important;        
        .item-inner{
            border-bottom-color: transparent !important;
        }
        input.text-input{
            text-align: center;
        }
    }
    .button-inner{
        text-transform: none;
    }
    p{
        font-size: 1rem;
        color: #8B8B8B;
    }
}
