// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* montserrat-100 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'),
            url('../assets/fonts/Roboto-Thin.ttf') format('ttf'), /* Super Modern Browsers */
            //url('../assets/fonts/montserrat-v13-latin-100.woff') format('woff'), /* Modern Browsers */
    }
/* montserrat-200 - latin */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 200;
src: local('Roboto ExtraLight'), local('Roboto-ExtraLight'),
        url('../assets/fonts/Roboto-Light.ttf') format('ttf'), /* Super Modern Browsers */
        //url('../assets/fonts/montserrat-v13-latin-200.woff') format('woff'), /* Modern Browsers */
}
/* montserrat-regular - latin */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
src: local('Roboto Regular'), local('Roboto-Regular'),
        url('../assets/fonts/Roboto-Regular.ttf') format('ttf'), /* Super Modern Browsers */
        //url('../assets/fonts/montserrat-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
}
/* montserrat-600 - latin */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
src: local('Roboto SemiBold'), local('Roboto-SemiBold'),
        url('../assets/fonts/Roboto-Medium.ttf') format('ttf'), /* Super Modern Browsers */
        //url('../assets/fonts/montserrat-v13-latin-600.woff') format('woff'), /* Modern Browsers */
}
/* montserrat-800 - latin */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 800;
src: local('Roboto ExtraBold'), local('Roboto-ExtraBold'),
        url('../assets/fonts/Roboto-Bold.ttf') format('ttf'), /* Super Modern Browsers */
        //url('../assets/fonts/montserrat-v13-latin-800.woff') format('woff'), /* Modern Browsers */
}

*{
font-family: 'Roboto';
}